<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

        <!--
            配置 bean
            class : bean的全类名，通过反射的方式在IOC容器中创建Bean,所以要求Bean中必须有无参数的构造器
            id: 标识容器中的bean,id唯一
        -->

        <bean id="helloWorld" class="com.lyp.learn.demo.beans.HelloWorld">
            <property name="name" value="spring"/>
        </bean>

        <bean id = "car1" class="com.lyp.learn.demo.beans.Car">
            <constructor-arg value="上海奥迪"/>
            <constructor-arg value="奥迪A6"/>
            <constructor-arg value="120"/>
        </bean>

        <!--
            区分重载构造器或者构造器参数
            index:指定参数位置
            type:指定参数类型
        -->
        <bean id = "car2" class="com.lyp.learn.demo.beans.Car">
            <constructor-arg value="上海奥迪" index="0"/>
            <constructor-arg value="奥迪A8"/>
            <constructor-arg value="120" type="int"/>
        </bean>


    <bean id="person" class="com.lyp.learn.demo.beans.Person">
        <property name="name" value="李四"/>
        <property name="age" value="25"/>
        <property name="address" value="商丘"/>

        <property name="car">
            <!--内部bean,外部不能引用-->
            <bean  class="com.lyp.learn.demo.beans.Car">
                <constructor-arg value="德国奔驰" index="0"/>
                <constructor-arg value="z4"/>
                <constructor-arg value="240" type="int"/>
            </bean>
        </property>
    </bean>

    <bean id="person1" class="com.lyp.learn.demo.beans.Person">
        <property name="name" value="李四"/>
        <property name="age" value="25"/>
        <property name="address" value="商丘"/>

        <property name="car" ref="car2"/>
        <!--
            级联属性赋值
            car的 company 要现有setter方法
        -->
        <property name="car.company" value="北京产地"/>

    </bean>

    <bean id="boss" class="com.lyp.learn.demo.beans.collections.Boss">
        <property name="houses">
            <list>
                <value>上海嘉园</value>
                <value>北京碧桂园</value>
                <value>郑州新地</value>
            </list>
        </property>

        <property name="cars">
           <list >
               <ref bean="car1"/>
               <ref bean="car2"/>
           </list>
        </property>
    </bean>

    <!--
        配置单例的集合bean,以供多个 bean 进行引用
        需要导入 util 命名空间,需添加如下配置
        (提示：在http://www.springframework.org/schema/util 可以看到xsd的版本)
        xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd
        ">
    -->
    <util:list id="carsList">
        <ref bean="car1"/>
        <ref bean="car2"/>
    </util:list>

    <bean id="boss2" class="com.lyp.learn.demo.beans.collections.Boss">
        <property name="cars" ref="carsList"/>
    </bean>

    <bean id="mother" class="com.lyp.learn.demo.beans.collections.Mother">
        <property name="hobbies">
            <list>
                <value>登山</value>
                <value>广场舞</value>
                <value>滑雪</value>
            </list>
        </property>

        <property name="cars">
           <list>
               <ref bean="car1"/>
               <ref bean="car2"/>
               <bean  class="com.lyp.learn.demo.beans.Car">
                   <constructor-arg value="德国奔驰" index="0"/>
                   <constructor-arg value="z4"/>
                   <constructor-arg value="240" type="int"/>
               </bean>
           </list>

        </property>
    </bean>

    <bean id="father" class="com.lyp.learn.demo.beans.collections.Father">
        <property name="works">
            <set>
                <value>律师</value>
                <value>程序员</value>
                <value>农民</value>
            </set>
        </property>

        <property name="cars">
            <set>
                <ref bean="car1"/>
                <ref bean="car2"/>
            </set>
        </property>
    </bean>

    <bean id="student" class="com.lyp.learn.demo.beans.collections.Student">
        <property name="scores">
            <map>
                <entry key="语文" value="98"/>
                <entry key="数学" value="100"/>
                <entry key="英语" value="99"/>
            </map>
        </property>

        <property name="cars">
            <map>
                <entry key="car11" value-ref="car1"/>
                <entry key="car22" value-ref="car2"/>
            </map>
        </property>
    </bean>

    <bean id="dataSource" class="com.lyp.learn.demo.beans.collections.DataSource">
        <property name="properties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">123456</prop>
                <prop key="jdbcUrl">jdbc:mysql:///test</prop>
                <prop key="driver">jdbc.mysql.Driver</prop>
            </props>
        </property>
    </bean>


    <bean id="person2" class="com.lyp.learn.demo.beans.Person"
          p:name="王五" p:age="28" p:car-ref="car1">
    </bean>

    <bean id="person3" class="com.lyp.learn.demo.beans.Person"
          p:name="钱六" p:age="#{T(java.lang.Integer).MAX_VALUE}" p:car="#{car1}">
    </bean>


</beans>